
html, body {
  height: 100%;
  background: white;
  position: relative;
}
.table {
  width:100%;
}

.test {
  border:1px solid black;
}

.btn-group {

}

.card-options {
  position:absolute;
  top:0;
  right:0;
  background:#eaeaea;
  width:20px;
  height:20px;
}

.layout-content {
  overflow:hidden;
  border:1px solid black;
}

.list-group-item {
  &.hover-remove {
    span.label {
      display:none;
    }
    &:hover {
      span.label {
        display:block;
      }
    }
  }
}


.side-nav {
  width:240px;
}
