$enable-flex: true;
@import "{ericmcgregor:bootstrap4scss}/bootstrap";


html, body {
  height: 100%;
  background: white;
  position: relative;
}


body {
  display:flex;
  flex-direction: column;
}
.app-layout {
  display:flex;
  flex-direction: row;
  flex:1;
  overflow:hidden;
}

.side-nav {
  width:320px;
  display:flex;
  flex-direction: column;
  .side-nav-menu {
    flex:1;
  }
}
.main-content {
  flex:auto;
  overflow-y: scroll;
}


body.container-fluid {
  padding:0!important;
}



.table {
  width:100%;
}

.test {
  border:1px solid black;
}

.btn-group {

}

.card-options {
  position:absolute;
  top:0;
  right:0;
  background:#eaeaea;
  width:20px;
  height:20px;
}

.layout-content {
  overflow:hidden;
  border:1px solid black;
}

.list-group-item {
  &.hover-remove {
    span.label {
      display:none;
    }
    &:hover {
      span.label {
        display:block;
      }
    }
  }
}
