@import "{}/client/app.scss";

html, body {
  height: 100%;
  background: white;
  position: relative;
}


body {
  display:flex;
  flex-direction: column;
  overflow:hidden;
}


#app-container {
  display:flex;
  flex-direction: column;
  position:absolute;
  height:100%;
  width:100%;
  overflow:hidden;

  #global-nav-layout {
    > nav {
    }
  }
  #app-content-layout {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-grow:1;
    overflow:hidden;

      #side-nav-layout {
        display:flex;
        flex-direction:column;

      }

      #main-content-layout {
        flex-grow: 1;
        display:flex;
        flex-direction: column;
        overflow: hidden;
        width:100%;
        > div {
        }
        > div.scrollWrapper {
          overflow: hidden;
          overflow-y:scroll;
          flex:1;
        }
      }

  }


}



.side-nav {
  width:240px;
  display:flex;
  flex-direction: column;
  flex:auto;
  .side-nav-menu {
    flex:1;
  }
}

#side-nav-layout {
  &.closed {
    .side-nav {
      width:75px;
      overflow:hidden;
    }
  }
}




// .app-layout {
//   display:flex;
//   flex-direction: column;
//   flex:1;
//   overflow:hidden;
//   border:1px solid green;
// }
//
// .app-content {
//   display:flex;
//   flex-direction: row;
//   flex:1;
//   overflow:hidden;
//   border:1px solid pink;
// }
//
// #side-nav-target {
//   display:flex;
//   flex-direction:column;
//   border:1px solid black;
// }


.main-content {
  flex:1;
  overflow-y: scroll;
}


body.container-fluid {
  padding:0!important;
}



.table {
  width:100%;
}

.test {
  border:1px solid black;
}

.btn-group {

}

.card-options {
  position:absolute;
  top:0;
  right:0;
  background:#eaeaea;
  width:20px;
  height:20px;
}

.layout-content {
  overflow:hidden;
  border:1px solid black;
}

.list-group-item {
  &.hover-remove {
    span.label {
      display:none;
    }
    &:hover {
      span.label {
        display:block;
      }
    }
  }
}
