@import "{}/client/app.scss";
.row.hypothesis-row {

}

.row-options {
  display:flex;
  justify-content:flex-end;
  align-items: flex-start;
  .dropdown-menu {
    left:-100%!important;
    top:0;
  }
  button {
    visibility:hidden;
  }
  &:hover {
    button {
      visibility:visible;
    }
  }
}

.hypothesis-row {
  min-height:40px;
  @extend .p-y;
  border-bottom:1px solid $nav-tabs-border-color;
  p {
  }
  .title {
    h6 {
      line-height:1.4rem;
      cursor:pointer;
    }
  }
  &:hover {
    .row-options {
      button {
        visibility:visible;
      }
    }
  }
}
